body {
  background-color: black;
}

.playarea-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#playarea {
  background-color: #242424;
  width: 800px;
  height: 800px;
}